dist: trusty
language: c
env:
  global:
    - GAPROOT=gaproot
    - COVDIR=coverage

matrix:
  include:
    - env: CFLAGS="-O2"
      compiler: clang
    - env: CFLAGS="-O2"
      compiler: gcc
    - env: CFLAGS=""  # test build w/o optimization

before_script:
  - scripts/build_gap.sh
script:
  - scripts/run_tests.sh
